.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 20;
  font-size: 120%;
  height: auto;
  align-self: center;
  border-right: 1px black solid;
}

@media screen and (min-device-width: 800px) {
  .wrapper {
    display: none;
  }
}

.back {
  position: relative;
  min-height: 25px;
  text-align: center;
  margin-left: 15px;
  padding-bottom: 50px;
}

.line {
  position: absolute;
  background-color: black;
  padding: 2px;
  width: 20px;
  border-radius: 100px;
  transition: all 1s;
}

.line:nth-child(1) {
  top: 50%;
  transform: rotate(45deg);
}
.line:nth-child(2) {
  top: 50%;
  transform: rotate(-45deg);
}
