.wrapper {
  position: absolute;
  right: -300px;
  z-index: -9;
}

.menu {
  height: 100vh;
  background-color: rgb(22, 66, 84);
  width: 300px;
  overflow-y: scroll;
}
.menu::-webkit-scrollbar {
  width: 0px;
}

.link {
  text-decoration: none;
  color: white;
  text-align: left;
  > li {
    position: relative;
    list-style-type: none;
    margin-top: 10px;
    padding: 5px 15px;
    border-bottom: 1px rgb(18, 74, 87) solid;
    font-size: 90%;
  }
  li:hover {
    background-color: rgb(19, 78, 90);
    //text-shadow: red -1.5px 0, cyan 1.5px 0;
  }
}
