.wrapper {
  margin: 0px;
  padding: 0px;
  background-color: rgb(27, 40, 48);
  text-align: left;
  margin-left: min(25%, 260px);
}
@media screen and (max-device-width: 800px) {
  .wrapper {
    margin-left: 0px;
  }
}

.contacts {
  color: yellow;
  font-size: 80%;
  text-align: right;

  > ul {
    padding: 5px;
  }
}

@media screen and (max-device-width: 800px) {
  .contacts {
    display: none;
  }
}
