.swiper{
  height: 500px;
  width: calc(80% - min(25%, 260px));
  margin-left: min(25%, 260px);
  aspect-ratio: 1/1;
}

@media screen and (max-device-width: 800px) and (min-device-width: 600px) {
  .swiper {width: 100%;
 }
}

@media screen and (max-device-width: 600px) {
  .swiper {
    width: 100%;
    margin-left: 0px}
}