.wrapper {
  display: flex;
  padding: 0px;
  margin: 0px;
  height: 3.5rem;
  padding: 5px 0px;

  > ul {
    padding: 0px;
    margin: 0px;
    > li {
      display: flex;

      > p {
        padding: 0px 0px;
        margin: 0px;
        font-size: 90%;
      }
    }
  }
}
